Chapter15/Ex5/src/validator/resources/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="book">
        <complexType>
            <sequence>
                <element name="title" type="string"/>
                <element name="author" type="string"/>
                <element name="year" type="int"/>
                <element name="pages" type="int"/>
            </sequence>
        </complexType>
    </element>
</schema>